@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root{
    --color : #f1356d;
}
*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color);
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: white;
    padding: 40px 80px;
    margin: 100px 0;
}
.card a{
    text-decoration: none;
    color: black;
}
.card h1{
    text-align: center;
}

.name{
    padding: 10px 30px;
    width: 25rem;
    border-bottom: 1px solid #eeeeee;
}
.name h3{
    font-size: 1.5rem;
}
.name p{
    font-size: 1.2rem;
}
.name:hover{
    box-shadow: 1px 3px 5px rgb(0,0,0,0.1);
}
.person{
    margin-top: 100px;
    background-color: white;
    padding: 70px 100px;
    line-height: 1.5;
    letter-spacing: .1rem;
    text-align: center;
}
.butt{
    text-align: center;
}
.btn{
    margin-top: 25px;
    padding: 15px 20px;
    border-radius: 6px;
    cursor: pointer;
    background-color: white;
    font-size: 1rem;
    z-index: 1;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #dddddd;
    transition: transform 500ms ease-in-out;
    transform-origin: bottom;
    transform: scaleX(0);
}
.btn:hover::before,
.btn:focus::before{
    transform: scaleX(1);
}
.name::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: -347px;
    right: 0;
    z-index: -1;
    background-color: #dddddd;
    transition: transform 500ms ease-in-out;
    transform-origin: 300px 50%;
    transform: scaleX(0);
}
.name:hover::before,
.name:focus::before{
    transform: scaleX(1);
}